<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378646150066-9e9knc0tqjef2ipjufs1deqedr0ve64h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378646150066-9e9knc0tqjef2ipjufs1deqedr0ve64h</string>
	<key>API_KEY</key>
	<string>AIzaSyByD5AZUtZlakhrlSNjmexdtz40f9W2ypg</string>
	<key>GCM_SENDER_ID</key>
	<string>378646150066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nlw.copa.mobile</string>
	<key>PROJECT_ID</key>
	<string>cv-weliton</string>
	<key>STORAGE_BUCKET</key>
	<string>cv-weliton.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378646150066:ios:4333938caa0bfd79eb42ab</string>
</dict>
</plist>